@using Microsoft.ApplicationInsights.AspNetCore.Extensions
@model IdentityServer4.Models.Client

@{
    var links = new Dictionary<string, string>
    {
        {"General", Url.Action("GetClientGeneral", new {clientId = Model.ClientId})},
        {"Scopes", Url.Action("GetClientScopes", new {clientId = Model.ClientId})}
    };
    var currentUrl = Context.Request.GetUri().AbsolutePath?.TrimEnd('/');
}

<div class="row page-header">
    <div class="col-sm-10">
        <h1>
            @Model.ClientName
        </h1>
        <span class="help-block">Client Id: @Model.ClientId</span>
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("< Back", "Index", new {}, new {@class = "btn btn-info"})
    </div>
    <div class="col-xs-12">
        <ul class="nav nav-tabs">
            @foreach (var link in links)
            {
                <li class="@(link.Value?.TrimEnd('/') == currentUrl ? "active" : string.Empty)">
                    <a href="@link.Value">
                        @link.Key
                    </a>
                </li>
            }
        </ul>
    </div>
</div>

<div class="row">
</div>