@using IdentityServer4
@model IdentityServer4.Models.Client

@{
    var secretTypes = new[]
    {
        new SelectListItem
        {
            Text = nameof(IdentityServerConstants.SecretTypes.SharedSecret),
            Value = IdentityServerConstants.SecretTypes.SharedSecret
        },
        new SelectListItem
        {
            Text = nameof(IdentityServerConstants.SecretTypes.X509CertificateBase64),
            Value = IdentityServerConstants.SecretTypes.X509CertificateBase64
        },
        new SelectListItem
        {
            Text = nameof(IdentityServerConstants.SecretTypes.X509CertificateName),
            Value = IdentityServerConstants.SecretTypes.X509CertificateName
        },
        new SelectListItem
        {
            Text = nameof(IdentityServerConstants.SecretTypes.X509CertificateThumbprint),
            Value = IdentityServerConstants.SecretTypes.X509CertificateThumbprint
        }
    };
}

<div class="client">
    @Html.Partial("_ClientHeader", Model)

    <div class="row">
        <div class="col-sm-10">
            @using (Html.BeginForm("AddClientSecret", "Clients", FormMethod.Post, new
            {
                @class = ""
            }))
            {
                <div class="form-group">
                    @Html.Label("Type", "Type", new { @class = "" })
                    @Html.DropDownList("Type", secretTypes, new { @class = "form-control", required = "required", placeholder = "Enter type" })
                </div>
                <div class="form-group">
                    @Html.Label("Value", "Secret", new { @class = "" })
                    @Html.TextBox("Value", null, new { @class = "form-control", required = "required", placeholder = "Enter a secret" })
                </div>
                <div class="form-group">
                    @Html.Label("Description", "Description", new { @class = "" })
                    @Html.TextBox("Description", null, new { @class = "form-control", required = "required", placeholder = "Enter a description" })
                </div>
                <div class="form-group">
                    @Html.Label("Expiration", "Expiration", new { @class = "" })
                    @Html.TextBox("Expiration", null, new { @class = "form-control", required = "required", placeholder = "Enter a expiration date" })
                </div>

                <button class="btn btn-info">Add secret</button>
            }
        </div>
    </div>
    @foreach (var secret in Model.ClientSecrets)
    {
    <div class="row">
        <div class="col-sm-2">
            @secret.Type
            (Exp. @secret.Expiration?.ToString("F"))
        </div>
        <div class="col-sm-2">
            @secret.Description
        </div>
        <div class="col-sm-6">
            @secret.Value
        </div>
        <div class="col-sm-2">
            @Html.ActionLink("Remove", "GetClientSecrets", new
                {
                    clientId = Model.ClientId
                }, new {@class = "btn btn-danger"})
        </div>
    </div>
    }
</div>