@model List<IdentityServer4.Models.Client>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Clients</h2>
@Html.ActionLink("+ Add new client", "NewClient", new {}, new {@class = "btn btn-info"})

@if (!Model.Any())
{
    <div class="row">
        <div class="col-sm-8">
            <div class="alert alert-info">
                You don't have any clients yet
            </div>
        </div>
    </div>
}
else
{
    foreach (var client in Model)
    {
        <div class="row">
            <div class="col-sm-2">
                @if (client.LogoUri != null)
                {
                    <img src="@client.LogoUri"/>
                }
            </div>
            <div class="col-sm-8">
                <div>@client.ClientName</div>
                <div>@client.ClientId</div>
            </div>
            <div class="col-sm-2">
                @Html.ActionLink("Edit", "GetClientGeneral", new
                {
                    clientId = client.ClientId
                }, new {@class = "btn btn-danger"})
            </div>
        </div>
    }
}