@using IdentityServer4.Models
@using IdentityServer4.OpenAdminUI.Extensions
@model IdentityServer4.Models.Client

@{
    var grantTypes = new[]
    {
        new SelectListItem
        {
            Text = nameof(GrantType.AuthorizationCode),
            Value = GrantType.AuthorizationCode
        },
        new SelectListItem
        {
            Text = nameof(GrantType.ClientCredentials),
            Value = GrantType.ClientCredentials
        },
        new SelectListItem
        {
            Text = nameof(GrantType.Hybrid),
            Value = GrantType.Hybrid
        },
        new SelectListItem
        {
            Text = nameof(GrantType.Implicit),
            Value = GrantType.Implicit
        },
        new SelectListItem
        {
            Text = nameof(GrantType.ResourceOwnerPassword),
            Value = GrantType.ResourceOwnerPassword
        }
    };
}

<div class="client">
    @Html.Partial("_ClientHeader", Model)

    <div class="row">
        <div class="col-sm-10">
            @using (Html.BeginForm("SaveClientGeneral", "Clients", FormMethod.Post, new
            {
                @class = ""
            }))
            {
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">General</h3>
                    </div>
                    <div class="panel-body">
                        @*<div class="form-group">
                            @Html.LabelFor(m => m.ClientId, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ClientId, new { @class = "form-control" })
                        </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClientName, new {@class = ""})
                            @Html.TextBoxFor(m => m.ClientName, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClientUri, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.ClientUri, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.AllowedGrantTypes, new {@class = "control-label"})
                            @Html.ListBoxFor(m => m.AllowedGrantTypes, grantTypes, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LogoUri, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.LogoUri, new {@class = "form-control"})
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ClientClaimsPrefix, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.ClientClaimsPrefix, new {@class = "form-control"})
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.Enabled, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.Enabled, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.EnableLocalLogin, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.EnableLocalLogin, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.RequireConsent, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.RequireConsent, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.RequireClientSecret, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.RequireClientSecret, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.RequirePkce, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.RequirePkce, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Token</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AbsoluteRefreshTokenLifetime, new {@class = "control-label"})
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Presets <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="#">5 min</a>
                                                </li>
                                                <li>
                                                    <a href="#">15 min</a>
                                                </li>
                                            </ul>
                                        </div>
                                        @Html.TextBoxFor(m => m.AbsoluteRefreshTokenLifetime, new {@class = "form-control"})
                                        <span class="input-group-addon">seconds</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RefreshTokenExpiration, new {@class = "control-label"})
                                    @Html.DropDownListFor(m => m.RefreshTokenExpiration, Model.RefreshTokenExpiration.AsSelectListItems(), new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RefreshTokenUsage, new {@class = "control-label"})
                                    @Html.DropDownListFor(m => m.RefreshTokenUsage, Model.RefreshTokenUsage.AsSelectListItems(), new {@class = "form-control"})
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AccessTokenLifetime, new {@class = "control-label"})
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.AccessTokenLifetime, new {@class = "form-control"})
                                        <span class="input-group-addon">seconds</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AccessTokenType, new {@class = "control-label"})
                                    @Html.DropDownListFor(m => m.AccessTokenType, Model.AccessTokenType.AsSelectListItems(), new {@class = "form-control"})
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(m => m.AuthorizationCodeLifetime, new {@class = "control-label"})
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.AuthorizationCodeLifetime, new {@class = "form-control"})
                                <span class="input-group-addon">seconds</span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.IdentityTokenLifetime, new {@class = "control-label"})
                            @Html.TextBoxFor(m => m.IdentityTokenLifetime, new {@class = "form-control"})
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AllowAccessTokensViaBrowser, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AllowAccessTokensViaBrowser, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AllowOfflineAccess, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AllowOfflineAccess, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AllowPlainTextPkce, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AllowPlainTextPkce, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AllowRememberConsent, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AllowRememberConsent, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AlwaysIncludeUserClaimsInIdToken, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AlwaysIncludeUserClaimsInIdToken, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.AlwaysSendClientClaims, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.AlwaysSendClientClaims, new {@class = "form-control"})
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <span class="input-group-addon">@Html.CheckBoxFor(m => m.IncludeJwtId, new {@class = ""})</span>
                                    @Html.LabelFor(m => m.IncludeJwtId, new {@class = "form-control"})
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class="btn btn-info">Save client</button>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
        </div>
    </div>
</div>